---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: "Mobile App Landing Page",
};
---

<Layout {meta}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[]}
      actions={[
        {
          type: "ghost",
          text: 'Login',
          href: '#',
        },
        {
          type: "primary",
          text: 'Sign Up',
          href: '#',
        },
      ]}
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden lg:inline">create your website <br />with</span>
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">DeCloud</span> open source commons (similar to Linux foundation/ apache) to build the frameworks for large scale dapps on #DePIN infrasturctures..</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Datalake: Production-ready</span> framework for building datalakes, LLMaaS, Decentralised PaaS (and so much more...)
    </Fragment>
  </Hero2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/deCloudify/deCloudify.github.io',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      deCloud + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Web3</span>
    </Fragment>

    <Fragment slot="subtitle">
      Building the perfect match for building the web3 dapps that are performant (QA, large scale usecases) and while following core principles of web3 ecosystem :P
    </Fragment>
  </CallToAction>
</Layout>
